@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
.monument-heading {
  font-family: "Monument Extended", sans-serif;
}
.swiper-pagination-bullet {
  transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease !important;
  background-color: #ffffff !important;
}
.custom-bullet-active {
  width: 30px !important;
  background-color: #c0a062 !important;
  opacity: 1 !important;
  border-radius: 15px !important;
  border-color: transparent !important;
}
::selection {
  background-color: black;
  color: #c0a162;
}

::-moz-selection {
  background-color: black;
  color: #c0a162;
}
.popup-modal .iti {
  width: 100% !important;
}

.popup-modal .iti input {
  width: 100% !important;
  box-sizing: border-box;
  background-color: #333333 !important;
  color: white !important;
  border: 1px solid #ffffff !important;
  border-radius: 8px;
  padding: 8px 12px;
  outline: none;
}

.popup-modal .iti input::placeholder {
  color: #888888 !important;
}

.popup-modal .iti input:focus {
  border-color: #c0a062 !important;
}

.popup-modal .iti__country-list {
  background-color: #151515 !important;
  border: 1px solid #333333;
  color: white;
}

.popup-modal .iti__country {
  color: white;
}

.popup-modal .iti__country:hover,
.popup-modal .iti__country.iti__highlight {
  background-color: #333333 !important;
  color: #c0a062 !important;
}
