@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
.monument-heading {
  font-family: "Monument Extended", sans-serif;
}
.swiper-pagination-bullet {
  transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease !important;
  background-color: #ffffff !important;
}
.custom-bullet-active {
  width: 30px !important;
  background-color: #c0a062 !important;
  opacity: 1 !important;
  border-radius: 15px !important;
  border-color: transparent !important;
}
